{% extends 'base.html.twig' %}

{% block body_id 'update_server' %}

{% block main %}
    <h1>Add New Server</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" class="btn btn-default pull-right" value="Update Server">
        {{ form_end(form) }}

{% endblock %}