{% extends 'admin/layout.html.twig' %}

{% block body_id 'experts_by_file' %}

{% block main %}
    <h1>Upload Expert CSV File</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}