{% extends 'admin/layout.html.twig' %}

{% block body_id 'view_subcats' %}

{% block main %}
    <h1>List of Subcategories</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th>Click to Edit</th>
                <th>Name</th>
            </tr>
        </thead>
        {% for sc in subcats %}
            <tr>
                <td><a href="{{ path('update_subcat', {subcatId: sc.subcatId}) }}" class="btn btn-link">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td>{{ sc.subcatName }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block sidebar %}
    <div class="section">
        <a href="{{ path('add_subcat') }}" class="button-block btn btn-lg btn-success">Add New Sub Category
            <i aria-hidden="true" class="fa fa-plus"></i>
        </a>
    </div>

    {{ parent() }}
{% endblock %}