{% extends 'admin/layout.html.twig' %}

{% block body_id 'view_cats' %}

{% block main %}
    <h1>List of Categories</h1>
    <table class="table table-responsive table-center table-striped">
        <thead>
            <tr>
                <th>Click to Edit</th>
                <th>Name</th>
            </tr>
        </thead>
    {% for cat in cats %}
        <tr>
            <td>
                <a href="{{ path('update_cat', {catId: cat.catId}) }}" class="btn btn-link"><i class="fa fa-edit"></i></a>
            </td>
            <td>
                {{ cat.catName }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('add_cat') }}" class="btn btn-success btn-lg btn-block">Add New Category
            <i aria-hidden="true" class="fa fa-plus"></i>
        </a>
    </div>
    {{ parent() }}
{% endblock %}